@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Magnivera Trial";
  src: url("./assets/fonts/magnivera-trial/MagniveraTrial-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Circular Std";
  src: url("./assets/fonts/circular-std-medium-500.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("./assets/fonts/euclid-circular-a/Euclid\ Circular\ A\ Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("./assets/fonts/euclid-circular-a/Euclid\ Circular\ A\ Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("./assets/fonts/euclid-circular-a/Euclid\ Circular\ A\ Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}


.content-grid {
  /* spacing variables */
  --padding-inline: 1.5rem;
  --content-max-width: 1200px;
  --breakout-max-width: 1440px;
  --layout-max-width: 1280px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start]
    minmax(var(--padding-inline), 1fr)
    [breakout-start]
    minmax(0, var(--breakout-size))
    [content-start]
    min(100% - (var(--padding-inline) * 2), var(--content-max-width))
    /* choosing which is smaller */
    [content-end]
    minmax(0, var(--breakout-size))
    [breakout-end]
    minmax(var(--padding-inline), 1fr)
    [full-width-end];
}
.content-grid.all {
  grid-template-rows: 4.5rem 1fr;
}
.content-grid > :not(.breakout, .full-width) {
  grid-column: content;
}
.content-grid > .breakout {
  grid-column: breakout;
}
.content-grid > .full-width {
  grid-column: full-width;
}
